<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ahn.tripplan.board.dao.BoardDAO">
	<insert id="createBoard" parameterType="map">
		INSERT INTO
			`board`
		(
			`userId`
			, `scheduleId`
			, `title`
			, `boardContent`
			, `hit`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{scheduleId}
			, #{title}
			, #{boardContent}
			, 0
			, now()
			, now()
		)
	</insert>
	
	<select id="selectBoardList"
	resultType="com.ahn.tripplan.board.model.Board">
		SELECT
			`id`
			, `userId`
			, `scheduleId`
			, `title`
			, `boardContent`
			, `hit`
			, `createdAt`
			, `updatedAt`
		FROM
			`board`
	</select>
	
	<select id="selectBoardDetail" parameterType="int"
	resultType="com.ahn.tripplan.board.model.Board">
		SELECT
			`id`
			, `userId`
			, `scheduleId`
			, `title`
			, `boardContent`
			, `hit`
			, `createdAt`
			, `updatedAt`
		FROM
			`board`
		WHERE
			`id` = #{id}
	</select>
	
	<update id="updateHitScore" parameterType="int">
		UPDATE
			`board`
		SET
			`hit` = `hit` + 1
		WHERE
			`id` = #{boardId}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM
			`board`
		WHERE
			`id` = #{id}
			AND `userId` = #{userId}
	</delete>
	
	<select id="selectboardIdLimit" parameterType="int"
	resultType="int">
		SELECT
			`id`
		FROM
			`board`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC
		LIMIT 1;
	</select>
	
	<select id="searchBoardList" parameterType="map"
	resultType="com.ahn.tripplan.board.model.Board">
		SELECT
			`id`
			, `userId`
			, `scheduleId`
			, `title`
			, `boardContent`
			, `hit`
			, `createdAt`
			, `updatedAt`
		FROM
			`board`
		WHERE
			`title` LIKE CONCAT('%',#{text},'%') 
			OR `boardContent` LIKE CONCAT('%',#{text},'%')
	</select>
</mapper>