<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ahn.tripplan.board.comment.dao.CommentDAO">

	<insert id="insertComment" parameterType="map">
		INSERT INTO
			`comment`
		(
			`userId`
			, `boardId`
			, `commentContent`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{boardId}
			, #{commentContent}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectCommentList" parameterType="int"
	resultType="com.ahn.tripplan.board.comment.model.Comment">
		SELECT
			`id`
			, `userId`
			, `boardId`
			, `commentContent`
			, `createdAt`
			, `updatedAt`
		FROM
			`comment`
		WHERE
			`boardId` = #{boardId}
	</select>
	
	<delete id="deleteMyComment" parameterType="int">
		DELETE FROM
			`comment`
		WHERE
			`id` = #{id}
			AND `userId` = #{userId}
	</delete>
</mapper>