<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ahn.tripplan.schedule.invite.dao.InviteDAO">
	<insert id="insertInviteSchedule" parameterType="map">
		INSERT INTO
			`invite_member`
		(
			`scheduleId`
			, `userId`
			, `createdAt`
		)
		VALUE
		(
			#{scheduleId}
			, #{userId}
			, now()
		)
	</insert>
	
	<select id="selectInviteList" parameterType="int"
	resultType="com.ahn.tripplan.schedule.invite.model.InviteMember">
		SELECT
			`id`
			, `scheduleId`
			, `userId`
			, `createdAt`
		FROM
			`invite_member`
		WHERE
			`userId` = #{userId}
	</select>
	
	<delete id="deleteInviteRefuse" parameterType="map">
		DELETE FROM
			`invite_member`
		WHERE
			`scheduleId` = #{scheduleId}
			AND `userId` = #{userId}
	</delete>
	
	<insert id="insertScheduleMember" parameterType="map">
		INSERT INTO
			`schedule_member`
		(
			`scheduleId`
			, `userId`
			, `role`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{scheduleId}
			, ${userId}
			, 0
			, now()
			, now()
		)
	</insert>
	
	<select id="selectMember" parameterType="int"
	resultType="com.ahn.tripplan.schedule.invite.model.ScheduleMember">
		SELECT
			`id`
			, `scheduleId`
			, `userId`
			, `role`
			, `createdAt`
			, `updatedAt`
		FROM
			`schedule_member`
		WHERE
			`scheduleId` = #{scheduleId}
	</select>
	
	<update id="updateAuthorityUp" parameterType="int">
		UPDATE
			`schedule_member`
		SET
			`role` = 1
	</update>
	
	<update id="updateAuthorityDown" parameterType="int">
		UPDATE
			`schedule_member`
		SET
			`role` = 0
	</update>
	
	<select id="selectInviteSchedule" parameterType="int"
	resultType="com.ahn.tripplan.schedule.invite.model.ScheduleMember">
		SELECT
			`id`
			, `scheduleId`
			, `userId`
			, `role`
			, `createdAt`
			, `updatedAt`
		FROM
			`schedule_member`
		WHERE
			`userId` = #{userId}
	</select>
	
	<delete id="deleteInviteSchedule" parameterType="int">
		DELETE FROM
			`schedule_member`
		WHERE
			`id` = #{id}
	</delete>
</mapper>