<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ahn.tripplan.schedule.dao.ScheduleDAO">
	<insert id="insertSchedule" parameterType="map">
		INSERT INTO
			`schedule`
		(
			`userId`
			, `title`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{title}
			, now()
			, now()
		)
	</insert>
	
	<insert id="insertScheduleData" parameterType="map">
		INSERT INTO
			`schedule_data`
		(
			`scheduleId`
			, `content`
			, `startTime`
			, `endTime`
			, `move`
			, `cost`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{scheduleId}
			, #{content}
			, #{startTime}
			, #{endTime}
			, #{move}
			, #{cost}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectScheduleByUserId" parameterType="int" 
	resultType="int">
		SELECT
			`id`
		FROM
			`schedule`
		WHERE `userId` = #{userId}
		ORDER BY `id` DESC
		LIMIT 1;
	</select>
	
	<select id="selectSchedule" parameterType="int"
	resultType="com.ahn.tripplan.schedule.model.Schedule">
		SELECT
			`id`
			, `userId`
			, `title`
			, `createdAt`
			, `updatedAt`
		FROM
			`schedule`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectScheduleData" parameterType="int"
	resultType="com.ahn.tripplan.schedule.model.ScheduleData">
		SELECT
			`id`
			, `scheduleId`
			, `content`
			, `startTime`
			, `endTime`
			, `move`
			, `cost`
			, `createdAt`
			, `updatedAt`
		FROM
			`schedule_data`
		WHERE
			`scheduleId` = #{scheduleId}
	</select>
	
	<select id="selectScheduleById" parameterType="int"
	resultType="com.ahn.tripplan.schedule.model.Schedule">
		SELECT
			`id`
			, `userId`
			, `title`
			, `createdAt`
			, `updatedAt`
		FROM
			`schedule`
		WHERE
			`id` = #{scheduleId}
	</select>
	
	<delete id="deleteSchedule" parameterType="map">
		DELETE FROM
			`schedule`
		WHERE
			`id` = #{scheduleId}
			AND `userId` = #{userId}
	</delete>
	
	<delete id="deleteScheduleData" parameterType="int">
		DELETE FROM
			`schedule_data`
		WHERE
			`scheduleId` = #{scheduleId}
	</delete>
	
	<update id="updateSchedule" parameterType="map">
		UPDATE
			`schedule`
		SET
			`title` = #{title}
			, `updatedAt` = now()
		WHERE
			`id` = #{scheduleId} 
	</update>
	
	<update id="updateScheduleData" parameterType="map">
		UPDATE
			`schedule_data`
		SET
			`content` = #{content}
			, `startTime` = #{startTime}
			, `endTime` = #{endTime}
			, `move` = #{move}
			, `cost` = #{cost}
			, `updatedAt` = now()
		WHERE
			`id` = #{scheduleId}
	</update>
	
	<select id="selectInviteSchedule" parameterType="int"
	resultType="com.ahn.tripplan.schedule.model.Schedule">
		SELECT
			`id`
			, `userId`
			, `title`
			, `createdAt`
			, `updatedAt`
		FROM
			`schedule`
		WHERE
			`id` = #{id}
	</select>
	
	<select id="selectInviteScheduleData" parameterType="int"
	resultType="com.ahn.tripplan.schedule.model.ScheduleData">
		SELECT
			`id`
			, `scheduleId`
			, `content`
			, `startTime`
			, `endTime`
			, `move`
			, `cost`
			, `createdAt`
			, `updatedAt`
		FROM
			`schedule_id`
	</select>

</mapper>