<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ahn.tripplan.schedule.todolist.dao.ToDoListDAO">
	<insert id="insertList" parameterType="map">
		INSERT INTO
			`to_do_list`
		(
			`scheduleId`
			, `userId`
			, `listContent`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{scheduleId}
			, #{userId}
			, #{listContent}
			, now()
			, now()
		)
	</insert>
</mapper>